.container {
    max-width: 720px;
}
.header {
    margin-top: 6rem;
    text-align: center;
}
.docs-header {
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: .2rem;
    font-weight: 600;
}
.docs-section {
    border-top: 1px solid #eee;
    padding: 4rem 0;
    margin-bottom: 0;
}
.docs-example h1,
.docs-example h2,
.docs-example h3,
.docs-example h4,
.docs-example h5,
.docs-example h6 {
    margin-bottom: 1rem;
}
.navbar {
    display: none;
}

/* Larger than phone */
@media (min-width: 550px) {
  .header {
        margin-top: 2rem;
  }
  .docs-section {
        padding: 6rem 0;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
    /* Navbar */
    .navbar + .docs-section {
        border-top-width: 0;
    }
    .navbar,
    .navbar-spacer {
        display: block;
        width: 100%;
        height: 6.5rem;
        background: #fff;
        z-index: 99;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }
    .navbar-spacer {
        display: none;
    }
    .navbar > .container {
        width: 100%;
    }
    .navbar-list {
        list-style: none;
        margin-bottom: 0;
    }
    .navbar-item {
        position: relative;
        float: left;
        margin-bottom: 0;
    }
    .navbar-link {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        letter-spacing: .2rem;
        margin-right: 35px;
        text-decoration: none;
        line-height: 6.5rem;
        color: #222;
    }
    .navbar-link.active {
        color: #33C3F0;
    }
    .has-docked-nav .navbar {
        position: fixed;
        top: 0;
        left: 0;
    }
    .has-docked-nav .navbar-spacer {
        display: block;
    }
    /* Re-overiding the width 100% declaration to match size of % based container */
    .has-docked-nav .navbar > .container {
        width: 80%;
    }
    
    #message {
        position: fixed;
        bottom: 0;
        background: #1EAEDB;
        color: #fff;
        z-index: 99;
        text-align: center;
        padding: 1.5rem 1rem;
        width: 100%;
    }
    
    #message > p {
        text-align: left;
        margin: 0 1rem;
    }
    
    .fb-like {
        float: right;
        line-height: 4.35rem;
    }
}

/* TRITURN */

.game-box,
.points-box,
.demo-box {
    display: none;
}
.hidden {
    display: none;
}
.td-right {
    text-align: right;
}
.td-button {
    padding: 5px 0;
}
.td-button button {
    margin-bottom: 0;
}
.centered {
    text-align: center;
}
.logout {
    display: none;
}
button.red {
    color: #880000;
    border-color: #880000;
}
button.blue {
    color: #000088;
    border-color: #000088;
}
button.red:hover,
button.red:focus {
    color: #FF0000;
    border-color: #FF0000;
}
button.blue:hover,
button.blue:focus {
    color: #0000FF;
    border-color: #0000FF;
}
.b-box {
    margin-left: 7rem;
}
#demo-counter-a,
#demo-counter-b {
    display: inline-block;
    width: 2rem;
    font-size: 2rem;
}
#counter-a,
#counter-b,
#timer,
#points {
    display: inline-block;
    width: 2rem;
    font-size: 2rem;
}
#counter-a,
#demo-counter-a,
#timer {
    color: #880000;
}
#counter-b,
#demo-counter-b {
    color: #000088;
}
.players table th:first-child {
    width: 8rem;
}
.red {
    color: #FF0000;
}
.g-recaptcha {
    margin-bottom: 1.5rem;
}

#pointer {
    z-index: 10;
    display: none;
}

.fb_iframe_widget {
    margin-bottom: 1.5rem;
}

.max-points {
    font-size: 2rem;
}

.slide-box .column:first-child,
.slide-box .columns:first-child {
    margin-left: 0;
}
  
.slide-box .column,
.slide-box .columns {
    margin-left: 1.44rem;
}

.slide-box .two.columns {
    width: 10.8rem;
}
.slide-box .three.columns {
    width: 16.92rem;
}
.slide-box .ten.columns {
    width: 59.76rem;
}

.dirs {
    margin-bottom: 1rem;
    min-height: 2.8rem;
}

.dir {
    display: none;
    background: #fff;
    border: 1px solid #880000;
    border-radius: 4px;
    position: relative;
    color: #880000;
    padding: 1px;
    text-decoration: none;
    text-align: center;
    letter-spacing: .1rem;
}

.dir:before,
.dir:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.dir:before {
    border-color: rgba(238, 238, 238, 0);
    border-top-color: #880000;
    border-width: 11px;
    margin-left: -11px;
}

.dir:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 10px;
    margin-left: -10px;
}

.dir.start {
    width: 68%;
}

.dir.start:before,
.dir.start:after {
    left: 12%;
}

.dir.move,
.dir.comp {
    margin: auto;
    width: 35%;
}

.dir.end {
    margin: auto;
    width: 40%;
}

.dir.comp {
    color: #000088;
    border: 1px solid #000088;
}

.dir.comp:before {
    border-top-color: #000088;
}

.demo-notes {
    display: none;
    margin-bottom: 1rem;
    height: 7.2rem;
    position: relative;
}

.demo-note {
    display: none;
    background: #fff;
    border: 1px solid #880000;
    border-radius: 4px;
    position: absolute;
    bottom: 0;
    color: #880000;
    padding: 3px;
    text-align: center;
    line-height: 1.1;
    width: 99%;
}

.demo-note:before,
.demo-note:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.demo-note:before {
    border-color: rgba(238, 238, 238, 0);
    border-top-color: #880000;
    border-width: 11px;
    margin-left: -11px;
}

.demo-note:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 10px;
    margin-left: -10px;
}

.demo-note.blue {
    border: 1px solid #000088;
    color: #000088;
}

.demo-note.blue:before {
    border-top-color: #000088;
}

.demo-note.left:before,
.demo-note.left:after {
    left: 8.1%;
}

.demo-note.right:before,
.demo-note.right:after {
    left: 91.7%;
}

#table {
    padding: 4rem 0 6rem;
}

.message {
    min-height: 24px;
    padding: 6px 10px;
    border: 1px solid #D1D1D1;
    margin-top: 5px;
    background: #fff;
/*    border: 1px solid #E1E1E1;*/
    border-radius: 4px;
    position: relative;
    color: #222;
    
    text-align: center;
    letter-spacing: .1rem;
}

.message:before,
.message:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.message:before {
    border-color: rgba(238, 238, 238, 0);
    border-bottom-color: #E1E1E1;
    border-width: 11px;
    margin-left: -11px;
}

.message:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 9px;
    margin-left: -9px;
}

.message.table {
    display: none;
    background: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    position: relative;
    color: #222;
    padding: 1px;
    text-align: center;
    letter-spacing: .1rem;
}

.message.table:before,
.message.table:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.message.table:before {
    border-color: rgba(238, 238, 238, 0);
    border-top-color: #D1D1D1;
    border-width: 11px;
    margin-left: -11px;
}

.message.table:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 10px;
    margin-left: -10px;
}